.sideButton{
	font-family: "M PLUS 1p", sans-serif;
	font-weight: normal;
	border-radius: 15px;
	width:60px;
	height:60px;
	text-align: center;
	margin:15px auto;
	display:block;
	color:var(--font-color-strong);
	background-color: var(--bg-color-base);
}

.sideButton:hover{
	background-color: var(--bg-color-base-hover);
}

.activeButton{
	background-color: var(--ac-color-primary) !important;
}

.icon{
	position:relative;
	height:30px;
	width:30px;
	top:8px;
	left:15px;
}

.text{
	position: relative;
	top:5px;
	font-size: 0.9rem;
}